-if login?
  %a{:href => "/auth/logout"} Logout
  %p= profile.headline
  %br
  %a{:href => "/api/cv/#{session[:atoken]}?access_token=#{session[:atoken]}"} Download CV
  %div= "Your token is  #{session[:atoken]}"

-else
  %a{:href => "/auth"} Login using LinkedIn
